
<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
      <!-- Search for small screen-->
      <div class="container">
        <div class="row">
          
          <div class="col s10 m6 l6">
            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Nouveau Client</span></h5>
            <ol class="breadcrumbs mb-0">
              <li class="bx bx-home-alt"><a href="index.html">Dashboard</a>
              </li>
              <li class="breadcrumb-item"><a href="listeclients.html">clients</a>
              </li>
              <li class="breadcrumb-item active">Client
              </li>
            </ol>
          </div>
          <div class="col s2 m6 l6"><a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a>
            <ul class="dropdown-content" id="dropdown1" tabindex="0">
              <li tabindex="0"><a class="grey-text text-darken-2" href="user-profile-page.html">Profile<span class="new badge red">2</span></a></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
              <li class="divider" tabindex="-1"></li>
              <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="container">
        <div class="seaction">

<div class="card">
<div class="card-content">
  <p class="caption mb-0">Ajouter Client.</p>
</div>
</div>


      <h4 class="card-title" style="color:#6d1fd49e;">Informations Générales</h4>
      <form>
        <div class="row">
          <div class="input-field col m6 s12">
            <select>
              <option value="" disabled selected  style="color:#c3c3c3 !important">TITRE</option>
              <option value="1">Mr.</option>
              <option value="2">Mlle.</option>
              <option value="3">M.</option>
            </select>
          </div>
          <div class="input-field col m6 s12">
            <input id="last_name" name="prenom" type="text">
            <label for="last_name">Prénom</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m6 s12">
            <input id="last_name" name="nom" type="text">
            <label for="last_name">Nom de la famille</label>
          </div>
          <div class="input-field col m6 s12">
            <input id="en" name="entreprise" type="text">
            <label for="en">Entreprise</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m6 s12">
            <select name="nomaffiche">
              <option value="" disabled selected  style="color:#c3c3c3 !important">NOM AFFICHÉ (*)</option>
              <option value="1">test</option>
              
            </select>
            
              
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <input id="EMAIL" name="email" type="email">
                <label for="EMAIL">EMAIL</label>
              </div>
            
        </div>
        
        </div>
        <div class="row">
          <div class="input-field col m6 s12">
            <input id="tel" name="tel" type="text">
                <label for="tel">TELEPHONE</label>
          </div>
          <div class="input-field col m6 s12">
            <input type="text" name="site" id="SITE">
            <label for="SITE">SITE INTERNET</label>
          </div>
        </div>
        <h4 class="card-title" style="color:#6d1fd49e;">Informations Personnelles</h4>
        <br>

        <label style="font-size: larger;">Type (*) :</label>
        <label>
          <input class="with-gap" name="type" type="radio"  />
          <span>Entreprise</span>
        </label>
        <label>
          <input class="with-gap" name="type" type="radio"  />
          <span>Particulier</span>
        </label>
        <div class="row">
          <div class="input-field col m6 s12">
            <input id="num" name="numfiscale" type="text">
                <label for="num">NUMÉRO D'IDENTIFICATION FISCALE</label>
          </div>
          <div class="input-field col m6 s12">
            <select name="acitivite">
              <option value="" disabled selected  style="color:#c3c3c3 !important">Activité</option>
              
                <option value="Dl">Agence ou société commerciale</option>
                <option value="Er">Agriculture</option>
                 <option value="GZ">Art et désign</option>
                <option value="JD">Industrie automobile</option>
                <option value="Kl">Construction</option>
                <option value="Lq">Biens de consommation</option>
                <option value="Mo">éducation</option>
                <option value="Nl">Ingénierie</option>
                <option value="OR">Divertissement</option>
                <option value="mwj">Services financiers</option>
                <option value="nOg">Activités de restauration</option>
                <option value="oyJ">Jeux</option>
                <option value="pwQ">Fonction publique</option>
                <option value="qWk">Services de santé</option>
                <option value="rVv">Décoration d&#039;intérieur</option>
                <option value="vJN">Interne</option>
                <option value="wNy">Légal</option>
                <option value="xJJ">Industrie</option>
                <option value="yJA">Commercialisation</option>
                <option value="JnX">Exploitation minière et logistique</option>
                <option value="Kov">Non lucratif</option>
                <option value="LpB">Publication et médias Web</option>
                <option value="MAB">Vente au détail (e-commerce et hors ligne)</option>
                <option value="NAj">Immobilier</option>
                <option value="OYp">Service</option>
                <option value="PDx">Technologie</option>
                <option value="QAv">Télécommunications</option>
                <option value="RAp">Tourisme / hôtellerie</option>
                <option value="VMP">Création de sites web</option>
                <option value="mwR">Développement web</option>
                <option value="nOL">Maroquinerie</option>
                
            </select>
            </div>
            <div class="input-field col m6 s12">
              <select name="devise">
                <option value="" disabled selected  style="color:#c3c3c3 !important">DEVISE</option>
              <option value="Dl">Dirham des Emirats Arabes Unis</option>
              <option value="Er">Afghan afghan</option>
              <option value="GZ">Lek albanais</option>
              <option value="JD">Dram arménien</option>
              <option value="Kl">Gulden des Antilles néerlandaises</option>
              <option value="Lq">Kwanza angolais</option>
              <option value="Mo">Peso argentin</option>
              <option value="Nl">Dollar Australien</option>
              <option value="OR">Florin d&#039;Aruba</option>
              <option value="mwj">Manat azerbaïdjanais</option>
              <option value="nOg">Mark convertible de Bosnie-Herzégovine</option>
              <option value="oyJ">Dollar barbadien</option>
              <option value="pwQ">Bangladeshi Taka</option>
              <option value="qWk">Lev bulgare</option>
              <option value="rVv">Dinar Bahreïni</option>
              <option value="vJN">Franc burundais</option>
              <option value="wNy">Dollar des Bermudes</option>
              <option value="xJJ">Dollar brunéien</option>
              <option value="yJA">Boliviano bolivien</option>
              <option value="JnX">Réal brésilien</option>
              <option value="Kov">Dollar des Bahamas</option>
              <option value="LpB">Ngultrum bhoutanais</option>
              <option value="MAB">Botswana Pula</option>
              <option value="NAj">Rouble biélorusse</option>
              <option value="OYp">Dollar bélizien</option>
              <option value="PDx">Dollar Canadien</option>
              <option value="QAv">Franc congolais</option>
              <option value="RAp">Franc suisse</option>
              <option value="VMP">Unidad de Fomento</option>
              <option value="mwR">Peso Chilien</option>
              <option value="nOL">Yuan renminbi chinois</option>
              <option value="oMj">Peso Colombien</option>
              <option value="pYz">Colón costaricain</option>
              <option value="qLp">Peso cubain convertible</option>
              <option value="rLo">Peso Cubain</option>
              <option value="vLx">Escudo Cap-Verdien</option>
              <option value="wLg">Couronne tchèque</option>
              <option value="xLG">Franc Djiboutien</option>
              <option value="yAZ">Couronne danoise</option>
              <option value="JAW">Peso Dominicain</option>
              <option value="Kxy">Dinar Algérien</option>
              <option value="LEZ">Livre égyptienne</option>
              <option value="Mwx">Nakfa érythréen</option>
              <option value="NxQ">Birr éthiopien</option>
              <option value="OLE">Euro</option>
              <option value="Pwl">Dollar fidjien</option>
              <option value="Qwr">Livre des Malouines</option>
              <option value="RMz">Livre sterling</option>
              <option value="VjA">Lari géorgien</option>
              <option value="kxM">Cedi ghanéen</option>
              <option value="lXL">Livre de Gibraltar</option>
              <option value="mWR">Dalasi gambien</option>
              <option value="nxL">Franc guinéen</option>
              <option value="opj">Quetzal Guatémaltèque</option>
              <option value="pqz">Dollar Guyanais</option>
              <option value="qrp">Dollar de Hong Kong</option>
              <option value="rEo">Lempira hondurien</option>
              <option value="vEx">Kuna croate</option>
              <option value="wEg">Gourde haïtienne</option>
              <option value="EVk">Forint hongrois</option>
              <option value="GOX">Roupie indonésienne</option>
              <option value="JZW">Nouveau shekel israélien</option>
              <option value="KXy">Roupie indienne</option>
              <option value="LyZ">Dinar irakien</option>
              <option value="MOx">Rial Iranien</option>
              <option value="NRQ">Couronne islandaise</option>
              <option value="OyE">Dollar jamaïcain</option>
              <option value="Pyl">Dinar jordanien</option>
              <option value="QLr">Yen japonais</option>
              <option value="gMY">Shilling kenyan</option>
              <option value="jkm">Som kirghize</option>
              <option value="klM">Riel cambodgien</option>
              <option value="lmL">Franc comorien</option>
              <option value="mnR">Won nord-coréen</option>
              <option value="noL">Won sud-coréen</option>
              <option value="oBj">Dinar koweïtien</option>
              <option value="pOz">Dollar des îles Caïmans</option>
              <option value="qKp">Tenge kazakh</option>
              <option value="rBo">Lao Kip</option>
              <option value="BzO">Livre libanaise</option>
              <option value="DWW">Roupie Sri Lankaise</option>
              <option value="EXk">Dollar libérien</option>
              <option value="GKX">Loti Lesotho</option>
              <option value="JEW">Litas lituanien</option>
              <option value="KBy">Lats letton</option>
              <option value="LgZ">Dinar libyen</option>
              <option value="Mjx">Dirham marocain</option>
              <option value="NkQ">Leu moldave</option>
              <option value="OlE">Ariary malgache</option>
              <option value="gny">Denar macédonien</option>
              <option value="jqj">Kyat birman</option>
              <option value="krY">Tögrög mongol</option>
              <option value="lvo">Pataca macanaise</option>
              <option value="mKO">Ouguiya mauritanien</option>
              <option value="nMN">Roupie mauricienne</option>
              <option value="oBW">Rufiyaa des Maldives</option>
              <option value="pOP">Kwacha malawien</option>
              <option value="qvl">Peso Mexicain</option>
              <option value="rwq">Ringgit malaisien</option>
              <option value="EwnL">Metical mozambicain</option>
              <option value="GRpn">Dollar namibien</option>
              <option value="JVvL">Naira nigérian</option>
              <option value="KVwV">Cordoue nicaraguayenne</option>
              <option value="LoxN">Couronne Norvégienne</option>
              <option value="Mpyz">Roupie népalaise</option>
              <option value="NKzr">Dollar néo-zélandais</option>
              <option value="OXAG">Rial omanais</option>
              <option value="PvBD">Balboa panaméen</option>
              <option value="QVDw">Nuevo Sol péruvien</option>
              <option value="gAyK">Kina de Papouasie-Nouvelle-Guinée</option>
              <option value="jABG">Peso Philippin</option>
              <option value="kLDw">Roupie pakistanaise</option>
              <option value="lVZW">Złoty polonais</option>
              <option value="mDGx">Guarani paraguayen</option>
              <option value="nQJD">Rial qatari</option>
              <option value="oYKP">Leu Roumain</option>
              <option value="pQLE">Dinar serbe</option>
              <option value="qEMz">Rouble russe</option>
              <option value="roNZ">Franc rwandais</option>
              <option value="BVkD">Rial saoudien</option>
              <option value="DnZm">Dollar des îles Salomon</option>
              <option value="EwEL">Roupie Seychelloise</option>
              <option value="GRJn">Livre soudanaise</option>
              <option value="JVML">Couronne suédoise</option>
              <option value="KVNV">Dollar de Singapour</option>
              <option value="LoON">Livre de Sainte-Hélène</option>
              <option value="MpPz">Couronne slovaque</option>
              <option value="NKgr">Sierra Leone Leone</option>
               <option value="OXjG">Shilling somalien</option>
              <option value="gAOB">Dollar Surinamais</option>
              <option value="jAjZ">Livre sud-soudanaise</option>
              <option value="kLkX">São Tomé et Príncipe Dobra</option>
              <option value="lVlO">Colon salvadorien</option>
              <option value="mDmy">Livre syrienne</option>
              <option value="nQnX">Swazi Lilangeni</option>
              <option value="oYoz">Thai Baht</option>
              <option value="pQpG">Somoni tadjik</option>
              <option value="qEqj">Manat turkmène</option>
              <option >Dinar tunisien</option>
              <option value="BVAx">Paʻanga tongan</option>
              <option value="DnDy">Lire turque</option>
              <option value="EwEJ">Dollar de Trinité-et-Tobago</option>
              <option value="GRJv">Nouveau dollar de Taïwan</option>
              <option value="JVKR">Shilling tanzanien</option>
              <option value="KVLW">Hryvnia ukrainienne</option>
              <option value="LoMX">Shilling ougandais</option>
              <option value="MpNp">Dollar des États-Unis</option>
              <option value="NKOW">Peso uruguayen</option>
              <option value="OXZx">Som ouzbek</option>
              <option value="YoYN">Bolivar vénézuélien</option>
              <option value="ZMYl">Đồng vietnamien</option>
              <option value="gAYB">Vanuatu Vatu</option>
              <option value="jAYZ">Tala de Samoa</option>
              <option value="kLYX">Franc CFA d&#039;Afrique Centrale</option>
              <option value="lVYO">Argent (Once Troy)</option>
              <option value="mDgy">Or (Once Troy)</option>
              <option value="nQjX">Dollar des Caraïbes orientales</option>
              <option value="oYkz">Droits de tirage spéciaux</option>
              <option value="pQlG">Franc CFA d&#039;Afrique de l&#039;Ouest</option>
              <option value="zBZZ">Franc CFA</option>
              <option value="AExK">Rial yéménite</option>
              <option value="BVyx">Rand sud-africain</option>
              <option value="DnAy">Kwacha zambien</option>
              <option value="EwBJ">Kwacha zambien</option>
              </select>
          </div>
          <div class="input-field col m6 s12">
            <select name="condition">
              <option value="" disabled selected  style="color:#c3c3c3 !important">CONDITIONS DE PAIEMENT</option>
              <option value="XVDP">Payable à réception</option>
<option value="YMEO">échéance à la fin du mois</option>
<option value="ZKGx">échéance à la fin du mois prochain</option>
<option value="ogxj">Personnalisé</option>
</select>
</div>
<h4 class="card-title" style="color:#6d1fd49e;">Adresse De Facturation</h4>
<div class="row">
<div class="input-field col  s12">
<input id="ad"  name="adressefact" type="text">
    <label for="ad">ADRESSE</label>
</div>
</div>
<div class="row">
<div class="input-field col m6 s12">
  <input id="etat" name="etatfact" type="text">
  <label for="etat">ETAT</label>
</div>

<div class="row">
  <div class="input-field col m6 s12">
    <input id="etat" name="cpfact" type="text">
    <label for="etat">CODE POSTAL</label>
  </div>
  </div>
  </div>

<div class="row">
  <div class="input-field col  s12">
    <select name="paysfact">
      <option value="" disabled selected  style="color:#c3c3c3 !important">PAYS</option>
      <option value="Dl">Afghanistan</option>
<option value="Er">Afrique Du Sud</option>
<option value="GZ">Albanie</option>
<option value="JD">Algérie</option>
<option value="Kl">Allemagne</option>
<option value="Lq">Andorre</option>
<option value="Mo">Angola</option>
<option value="Nl">Anguilla</option>
<option value="OR">Antarctique</option>
<option value="mwj">Antigua-et-Barbuda</option>
<option value="nOg">Antilles Néerlandaises</option>
<option value="oyJ">Arabie Saoudite</option>
<option value="pwQ">Argentine</option>
<option value="qWk">Arménie</option>
<option value="rVv">Aruba</option>
<option value="vJN">Australie</option>
<option value="wNy">Autriche</option>
<option value="xJJ">Azerbaïdjan</option>
<option value="yJA">Bahamas</option>
<option value="JnX">Bahreïn</option>
<option value="Kov">Bangladesh</option>
<option value="LpB">Barbade</option>
<option value="MAB">Belgique</option>
<option value="NAj">Belize</option>
<option value="OYp">Bénin</option>
<option value="PDx">Bermudes</option>
<option value="QAv">Bhoutan</option>
<option value="RAp">Biélorussie</option>
<option value="VMP">Bolivie</option>
<option value="mwR">Bosnie Herzégovine</option>
<option value="nOL">Botswana</option>
<option value="oMj">Brésil</option>
<option value="pYz">Îles Vierges Britanniques</option>
<option value="qLp">Brunei Darussalam</option>
<option value="rLo">Bulgarie</option>
<option value="vLx">Burkina Faso</option>
<option value="wLg">Burundi</option>
<option value="xLG">Cambodge</option>
<option value="yAZ">Cameroun</option>
<option value="JAW">Canada</option>
<option value="Kxy">Cap-Vert</option>
<option value="LEZ">Chili</option>
<option value="Mwx">Chine</option>
<option value="NxQ">L&#039;île De Noël</option>
<option value="OLE">Chypre</option>
<option value="Pwl">Colombie</option>
<option value="Qwr">Comores</option>
<option value="RMz">Congo (Brazzaville)</option>
<option value="VjA">République Démocratique Du Congo</option>
<option value="kxM">République De Corée</option>
<option value="lXL">République Populaire Démocratique De Corée</option>
<option value="mWR">Costa Rica</option>
<option value="nxL">Côte D&#039;Ivoire</option>
<option value="opj">Croatie</option>
<option value="pqz">Cuba</option>
<option value="qrp">Danemark</option>
<option value="rEo">Djibouti</option>
<option value="vEx">Dominique</option>
<option value="wEg">Egypte</option>
<option value="EVk">Le Salvador</option>
<option value="GOX">Emirats Arabes Unis</option>
<option value="JZW">Île Heard Et Îles McDonald</option>
<option value="KXy">Équateur</option>
<option value="LyZ">Érythrée</option>
<option value="MOx">Espagne</option>
<option value="NRQ">Estonie</option>
<option value="OyE">Les états-unis D&#039;Amérique</option>
<option value="Pyl">Îles Mineures éloignées Des États-Unis</option>
<option value="QLr">Ethiopie</option>
<option value="gMY">Fédération Russe</option>
<option value="jkm">Fidji</option>
<option value="klM">Finlande</option>
<option value="lmL">France</option>
<option value="mnR">Gabon</option>
<option value="noL">Gambie</option>
<option value="oBj">Géorgie</option>
<option value="pOz">General::lang.south_georgia_and_the_south_sandwich_i</option>
<option value="qKp">Ghana</option>
<option value="rBo">Gibraltar</option>
<option value="BzO">Grèce</option>
<option value="DWW">Grenade</option>
<option value="EXk">Groenland</option>
<option value="GKX">Guadeloupe</option>
<option value="JEW">Guam</option>
<option value="KBy">Guatemala</option>
<option value="LgZ">Guernesey</option>
<option value="Mjx">Guinée</option>
<option value="NkQ">Guinée Équatoriale</option>
<option value="OlE">Guinée-Bissau</option>
<option value="gny">Guyane</option>
<option value="jqj">Guyane Française</option>
<option value="krY">Haïti</option>
<option value="lvo">Honduras</option>
<option value="mKO">Hong Kong Région Administrative Spéciale De Chine</option>
<option value="nMN">Hongrie</option>
<option value="oBW">île De Man</option>
<option value="pOP">Iles Aland</option>
<option value="qvl">Îles Caïmans</option>
<option value="rwq">Îles Cocos (Keeling)</option>
<option value="EwnL">Les Îles Cook</option>
<option value="GRpn">Îles Falkland (Malvinas)</option>
<option value="JVvL">Îles Féroé</option>
<option value="KVwV">Îles Mariannes Du Nord</option>
<option value="LoxN">Iles Marshall</option>
<option value="Mpyz">Les îles Salomon</option>
<option value="NKzr">îles Turques-et-Caïques</option>
<option value="OXAG">Américains Des îles Vierges</option>
<option value="PvBD">Inde</option>
<option value="QVDw">Indonésie</option>
<option value="gAyK">Irak</option>
<option value="jABG">République Islamique D&#039;Iran</option>
<option value="kLDw">Irlande</option>
<option value="lVZW">Islande</option>
<option value="mDGx">Israël</option>
<option value="nQJD">Italie</option>
<option value="oYKP">Jamaïque</option>
<option value="pQLE">Japon</option>
<option value="qEMz">Jersey</option>
<option value="roNZ">Jordan</option>
<option value="BVkD">Kazakhstan</option>
<option value="DnZm">Kenya</option>
<option value="EwEL">Kirghizistan</option>
<option value="GRJn">Kiribati</option>
<option value="JVML">Koweit</option>
<option value="KVNV">Île Bouvet</option>
<option value="LoON">L&#039;ile De Norfolk</option>
<option value="MpPz">Lesotho</option>
<option value="NKgr">Lettonie</option>
<option value="OXjG">Liban</option>
<option value="gAOB">Libéria</option>
<option value="jAjZ">Libye</option>
<option value="kLkX">Liechtenstein</option>
<option value="lVlO">Lituanie</option>
<option value="mDmy">Luxembourg</option>
<option value="nQnX">Région Administrative Spéciale De Macao En Chine</option>
<option value="oYoz">République De Macédoine</option>
<option value="pQpG">Madagascar</option>
<option value="qEqj">Malaisie</option>
<option value="rorJ">Malawi</option>
<option value="BVAx">Maldives</option>
<option value="DnDy">Mali</option>
<option value="EwEJ">Malte</option>
<option value="GRJv">Maroc</option>
<option value="JVKR">Martinique</option>
<option value="KVLW">Maurice</option>
<option value="LoMX">Mauritanie</option>
<option value="MpNp">Mayotte</option>
<option value="NKOW">Mexique</option>
<option value="OXZx">États Fédérés De Micronésie</option>
<option value="YoYN">Moldavie</option>
<option value="ZMYl">Monaco</option>
<option value="gAYB">Mongolie</option>
<option value="jAYZ">Monténégro</option>
<option value="kLYX">Montserrat</option>
<option value="lVYO">Mozambique</option>
<option value="mDgy">Birmanie</option>
<option value="nQjX">Namibie</option>
<option value="oYkz">Nauru</option>
<option value="pQlG">Népal</option>
<option value="zBZZ">Nicaragua</option>
<option value="AExK">Niger</option>
<option value="BVyx">Nigeria</option>
<option value="DnAy">Nioué</option>
<option value="EwBJ">Norvège</option>
<option value="GREv">Nouvelle Calédonie</option>
<option value="JVjR">Nouvelle-Zélande</option>
<option value="KVkW">Oman</option>
<option value="LolX">Ouganda</option>
<option value="Mpmp">Ouzbékistan</option>
<option value="WLzW">Pakistan</option>
<option value="XMAO">Palaos</option>
<option value="YoBN">Panama</option>
<option value="ZMDl">Papouasie Nouvelle Guinée</option>
<option value="gAjB">Paraguay</option>
<option value="jAmZ">Pays-Bas</option>
<option value="kLnX">Pérou</option>
<option value="lVoO">Philippines</option>
<option value="mDpy">Pitcairn</option>
<option value="nQqX">Pologne</option>
<option value="xvEm">Polynésie Française</option>
<option value="yNGB">Le Portugal</option>
<option value="zBJZ">Porto Rico</option>
<option value="AEKK">Qatar</option>
<option value="BVLx">République Arabe Syrienne (Syrie)</option>
<option value="DnNy">République Centrafricaine</option>
<option value="EwOJ">République Démocratique Populaire Lao</option>
<option value="GRQv">République Dominicaine</option>
<option value="JVJR">République Tchèque</option>
<option value="KVKW">Réunion</option>
<option value="RVRA">Roumanie</option>
<option value="VVkj">Royaume-Uni</option>
<option value="WLlW">Rwanda</option>
<option value="XMmO">Sahara Occidental</option>
<option value="gAGg">Saint-Barthélemy</option>
<option value="jALo">Saint-Kitts-et-Nevis</option>
<option value="kLMA">Saint Marin</option>
<option value="lVNj">Saint-Martin (partie Française)</option>
<option value="mDOY">Saint-Pierre-et-Miquelon</option>
<option value="nQPG">Saint-Siège (Cité Du Vatican)</option>
<option value="qERD">Saint-Vincent-et-les-Grenadines</option>
<option value="roWP">Sainte-Hélène</option>
<option value="vznM">Sainte-Lucie</option>
<option value="wrpO">Samoa</option>
<option value="xvrq">Samoa Américaines</option>
<option value="yNwX">Sao Tomé Et Principe</option>
<option value="zByM">Sénégal</option>
<option value="AEXP">Serbie</option>
<option value="BVgk">Les Seychelles</option>
<option value="DnmD">Sierra Leone</option>
<option value="NWYY">Singapour</option>
<option value="OvKM">Slovaquie</option>
<option value="PNVK">Slovénie</option>
<option value="QNGV">Somalie</option>
<option value="RKGK">Soudan</option>
<option value="VlRN">Sri Lanka</option>
<option value="WwXD">Soudan Du Sud</option>
<option value="XVXG">Suède</option>
<option value="YMXG">Suisse</option>
<option value="ZKXn">Surinam</option>
<option value="ogjR">Svalbard Et Jan Mayen</option>
<option value="pjkK">Swaziland</option>
<option value="qklD">Tadjikistan</option>
<option value="rlmP">Taïwan</option>
<option value="vxDM">Tanzanie</option>
<option value="wwVO">Tchad</option>
<option value="xxZq">Terres Australes Françaises</option>
<option value="yDvX">Territoire Britannique De L&#039;océan Indien</option>
<option value="zLxM">Territoires Palestiniens (occupés)</option>
<option value="AkAP">Thaïlande</option>
<option value="LNWQ">Timor-Leste</option>
<option value="MYKL">Togo</option>
<option value="NWXY">Tokélaou</option>
<option value="OvMM">Tonga</option>
<option value="PNGK">Trinité-et-Tobago</option>
<option  value="QNMV">Tunisie</option>
<option value="RKNK">Turkménistan</option>
<option value="VlXN">Turquie</option>
<option value="WwRD">Tuvalu</option>
<option value="XVRG">Ukraine</option>
<option value="mzQX">Uruguay</option>
<option value="nEgl">Vanuatu</option>
<option value="oglR">(République Bolivarienne Du) Venezuela</option>
<option value="pjzK">Viet Nam</option>
<option value="qknD">Wallis Et Futuna</option>
<option value="rlqP">Yémen</option>
<option value="vxpM">Zambie</option>
<option value="wwqO">Zimbabwe</option>
</select>
</div>
  
  </div>
  <h4 class="card-title" style="color:#6d1fd49e;">Adresse De Livraison</h4>
<div class="row">
<div class="input-field col  s12">
<input id="ad"  name="adresseliv" type="text">
    <label for="ad">ADRESSE</label>
</div>
</div>
<div class="row">
<div class="input-field col m6 s12">
  <input id="etat" name="etatliv" type="text">
  <label for="etat">ETAT</label>
</div>

<div class="row">
  <div class="input-field col m6 s12">
    <input id="etat" name="cpliv" type="text">
    <label for="etat">CODE POSTAL</label>
  </div>
  </div>
  </div>

<div class="row">
  <div class="input-field col  s12">
    <select name="paysliv">
      <option value="" disabled selected  style="color:#c3c3c3 !important">PAYS</option>
      <option value="Dl">Afghanistan</option>
<option value="Er">Afrique Du Sud</option>
<option value="GZ">Albanie</option>
<option value="JD">Algérie</option>
<option value="Kl">Allemagne</option>
<option value="Lq">Andorre</option>
<option value="Mo">Angola</option>
<option value="Nl">Anguilla</option>
<option value="OR">Antarctique</option>
<option value="mwj">Antigua-et-Barbuda</option>
<option value="nOg">Antilles Néerlandaises</option>
<option value="oyJ">Arabie Saoudite</option>
<option value="pwQ">Argentine</option>
<option value="qWk">Arménie</option>
<option value="rVv">Aruba</option>
<option value="vJN">Australie</option>
<option value="wNy">Autriche</option>
<option value="xJJ">Azerbaïdjan</option>
<option value="yJA">Bahamas</option>
<option value="JnX">Bahreïn</option>
<option value="Kov">Bangladesh</option>
<option value="LpB">Barbade</option>
<option value="MAB">Belgique</option>
<option value="NAj">Belize</option>
<option value="OYp">Bénin</option>
<option value="PDx">Bermudes</option>
<option value="QAv">Bhoutan</option>
<option value="RAp">Biélorussie</option>
<option value="VMP">Bolivie</option>
<option value="mwR">Bosnie Herzégovine</option>
<option value="nOL">Botswana</option>
<option value="oMj">Brésil</option>
<option value="pYz">Îles Vierges Britanniques</option>
<option value="qLp">Brunei Darussalam</option>
<option value="rLo">Bulgarie</option>
<option value="vLx">Burkina Faso</option>
<option value="wLg">Burundi</option>
<option value="xLG">Cambodge</option>
<option value="yAZ">Cameroun</option>
<option value="JAW">Canada</option>
<option value="Kxy">Cap-Vert</option>
<option value="LEZ">Chili</option>
<option value="Mwx">Chine</option>
<option value="NxQ">L&#039;île De Noël</option>
<option value="OLE">Chypre</option>
<option value="Pwl">Colombie</option>
<option value="Qwr">Comores</option>
<option value="RMz">Congo (Brazzaville)</option>
<option value="VjA">République Démocratique Du Congo</option>
<option value="kxM">République De Corée</option>
<option value="lXL">République Populaire Démocratique De Corée</option>
<option value="mWR">Costa Rica</option>
<option value="nxL">Côte D&#039;Ivoire</option>
<option value="opj">Croatie</option>
<option value="pqz">Cuba</option>
<option value="qrp">Danemark</option>
<option value="rEo">Djibouti</option>
<option value="vEx">Dominique</option>
<option value="wEg">Egypte</option>
<option value="EVk">Le Salvador</option>
<option value="GOX">Emirats Arabes Unis</option>
<option value="JZW">Île Heard Et Îles McDonald</option>
<option value="KXy">Équateur</option>
<option value="LyZ">Érythrée</option>
<option value="MOx">Espagne</option>
<option value="NRQ">Estonie</option>
<option value="OyE">Les états-unis D&#039;Amérique</option>
<option value="Pyl">Îles Mineures éloignées Des États-Unis</option>
<option value="QLr">Ethiopie</option>
<option value="gMY">Fédération Russe</option>
<option value="jkm">Fidji</option>
<option value="klM">Finlande</option>
<option value="lmL">France</option>
<option value="mnR">Gabon</option>
<option value="noL">Gambie</option>
<option value="oBj">Géorgie</option>
<option value="pOz">General::lang.south_georgia_and_the_south_sandwich_i</option>
<option value="qKp">Ghana</option>
<option value="rBo">Gibraltar</option>
<option value="BzO">Grèce</option>
<option value="DWW">Grenade</option>
<option value="EXk">Groenland</option>
<option value="GKX">Guadeloupe</option>
<option value="JEW">Guam</option>
<option value="KBy">Guatemala</option>
<option value="LgZ">Guernesey</option>
<option value="Mjx">Guinée</option>
<option value="NkQ">Guinée Équatoriale</option>
<option value="OlE">Guinée-Bissau</option>
<option value="gny">Guyane</option>
<option value="jqj">Guyane Française</option>
<option value="krY">Haïti</option>
<option value="lvo">Honduras</option>
<option value="mKO">Hong Kong Région Administrative Spéciale De Chine</option>
<option value="nMN">Hongrie</option>
<option value="oBW">île De Man</option>
<option value="pOP">Iles Aland</option>
<option value="qvl">Îles Caïmans</option>
<option value="rwq">Îles Cocos (Keeling)</option>
<option value="EwnL">Les Îles Cook</option>
<option value="GRpn">Îles Falkland (Malvinas)</option>
<option value="JVvL">Îles Féroé</option>
<option value="KVwV">Îles Mariannes Du Nord</option>
<option value="LoxN">Iles Marshall</option>
<option value="Mpyz">Les îles Salomon</option>
<option value="NKzr">îles Turques-et-Caïques</option>
<option value="OXAG">Américains Des îles Vierges</option>
<option value="PvBD">Inde</option>
<option value="QVDw">Indonésie</option>
<option value="gAyK">Irak</option>
<option value="jABG">République Islamique D&#039;Iran</option>
<option value="kLDw">Irlande</option>
<option value="lVZW">Islande</option>
<option value="mDGx">Israël</option>
<option value="nQJD">Italie</option>
<option value="oYKP">Jamaïque</option>
<option value="pQLE">Japon</option>
<option value="qEMz">Jersey</option>
<option value="roNZ">Jordan</option>
<option value="BVkD">Kazakhstan</option>
<option value="DnZm">Kenya</option>
<option value="EwEL">Kirghizistan</option>
<option value="GRJn">Kiribati</option>
<option value="JVML">Koweit</option>
<option value="KVNV">Île Bouvet</option>
<option value="LoON">L&#039;ile De Norfolk</option>
<option value="MpPz">Lesotho</option>
<option value="NKgr">Lettonie</option>
<option value="OXjG">Liban</option>
<option value="gAOB">Libéria</option>
<option value="jAjZ">Libye</option>
<option value="kLkX">Liechtenstein</option>
<option value="lVlO">Lituanie</option>
<option value="mDmy">Luxembourg</option>
<option value="nQnX">Région Administrative Spéciale De Macao En Chine</option>
<option value="oYoz">République De Macédoine</option>
<option value="pQpG">Madagascar</option>
<option value="qEqj">Malaisie</option>
<option value="rorJ">Malawi</option>
<option value="BVAx">Maldives</option>
<option value="DnDy">Mali</option>
<option value="EwEJ">Malte</option>
<option value="GRJv">Maroc</option>
<option value="JVKR">Martinique</option>
<option value="KVLW">Maurice</option>
<option value="LoMX">Mauritanie</option>
<option value="MpNp">Mayotte</option>
<option value="NKOW">Mexique</option>
<option value="OXZx">États Fédérés De Micronésie</option>
<option value="YoYN">Moldavie</option>
<option value="ZMYl">Monaco</option>
<option value="gAYB">Mongolie</option>
<option value="jAYZ">Monténégro</option>
<option value="kLYX">Montserrat</option>
<option value="lVYO">Mozambique</option>
<option value="mDgy">Birmanie</option>
<option value="nQjX">Namibie</option>
<option value="oYkz">Nauru</option>
<option value="pQlG">Népal</option>
<option value="zBZZ">Nicaragua</option>
<option value="AExK">Niger</option>
<option value="BVyx">Nigeria</option>
<option value="DnAy">Nioué</option>
<option value="EwBJ">Norvège</option>
<option value="GREv">Nouvelle Calédonie</option>
<option value="JVjR">Nouvelle-Zélande</option>
<option value="KVkW">Oman</option>
<option value="LolX">Ouganda</option>
<option value="Mpmp">Ouzbékistan</option>
<option value="WLzW">Pakistan</option>
<option value="XMAO">Palaos</option>
<option value="YoBN">Panama</option>
<option value="ZMDl">Papouasie Nouvelle Guinée</option>
<option value="gAjB">Paraguay</option>
<option value="jAmZ">Pays-Bas</option>
<option value="kLnX">Pérou</option>
<option value="lVoO">Philippines</option>
<option value="mDpy">Pitcairn</option>
<option value="nQqX">Pologne</option>
<option value="xvEm">Polynésie Française</option>
<option value="yNGB">Le Portugal</option>
<option value="zBJZ">Porto Rico</option>
<option value="AEKK">Qatar</option>
<option value="BVLx">République Arabe Syrienne (Syrie)</option>
<option value="DnNy">République Centrafricaine</option>
<option value="EwOJ">République Démocratique Populaire Lao</option>
<option value="GRQv">République Dominicaine</option>
<option value="JVJR">République Tchèque</option>
<option value="KVKW">Réunion</option>
<option value="RVRA">Roumanie</option>
<option value="VVkj">Royaume-Uni</option>
<option value="WLlW">Rwanda</option>
<option value="XMmO">Sahara Occidental</option>
<option value="gAGg">Saint-Barthélemy</option>
<option value="jALo">Saint-Kitts-et-Nevis</option>
<option value="kLMA">Saint Marin</option>
<option value="lVNj">Saint-Martin (partie Française)</option>
<option value="mDOY">Saint-Pierre-et-Miquelon</option>
<option value="nQPG">Saint-Siège (Cité Du Vatican)</option>
<option value="qERD">Saint-Vincent-et-les-Grenadines</option>
<option value="roWP">Sainte-Hélène</option>
<option value="vznM">Sainte-Lucie</option>
<option value="wrpO">Samoa</option>
<option value="xvrq">Samoa Américaines</option>
<option value="yNwX">Sao Tomé Et Principe</option>
<option value="zByM">Sénégal</option>
<option value="AEXP">Serbie</option>
<option value="BVgk">Les Seychelles</option>
<option value="DnmD">Sierra Leone</option>
<option value="NWYY">Singapour</option>
<option value="OvKM">Slovaquie</option>
<option value="PNVK">Slovénie</option>
<option value="QNGV">Somalie</option>
<option value="RKGK">Soudan</option>
<option value="VlRN">Sri Lanka</option>
<option value="WwXD">Soudan Du Sud</option>
<option value="XVXG">Suède</option>
<option value="YMXG">Suisse</option>
<option value="ZKXn">Surinam</option>
<option value="ogjR">Svalbard Et Jan Mayen</option>
<option value="pjkK">Swaziland</option>
<option value="qklD">Tadjikistan</option>
<option value="rlmP">Taïwan</option>
<option value="vxDM">Tanzanie</option>
<option value="wwVO">Tchad</option>
<option value="xxZq">Terres Australes Françaises</option>
<option value="yDvX">Territoire Britannique De L&#039;océan Indien</option>
<option value="zLxM">Territoires Palestiniens (occupés)</option>
<option value="AkAP">Thaïlande</option>
<option value="LNWQ">Timor-Leste</option>
<option value="MYKL">Togo</option>
<option value="NWXY">Tokélaou</option>
<option value="OvMM">Tonga</option>
<option value="PNGK">Trinité-et-Tobago</option>
<option  value="QNMV">Tunisie</option>
<option value="RKNK">Turkménistan</option>
<option value="VlXN">Turquie</option>
<option value="WwRD">Tuvalu</option>
<option value="XVRG">Ukraine</option>
<option value="mzQX">Uruguay</option>
<option value="nEgl">Vanuatu</option>
<option value="oglR">(République Bolivarienne Du) Venezuela</option>
<option value="pjzK">Viet Nam</option>
<option value="qknD">Wallis Et Futuna</option>
<option value="rlqP">Yémen</option>
<option value="vxpM">Zambie</option>
<option value="wwqO">Zimbabwe</option>
</select>
<div>

<div class="row">
<form class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">mode_edit</i>
      <textarea  name="remarques" id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">REMARQUES</label>
    </div>
    
  </div>
  <div class="btn_form_pfe">
  <div> <button type="submit"  class="red btn btn-reset" > Annuler <i class="material-icons left">clear</i></button> <button type="submit"  class="btn waves-effect waves-light " > Enregistrer <i class="material-icons right">send</i></button></div>
</div> 
 
</form>
</div>

</div>
  </div>
  




            </div>
          </div>
        
      </form>
    </div>
  </div>
</div>
</div>
