<div id="main">
      <div class="row">
        <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
        <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
          <!-- Search for small screen-->
          <div class="container">
            <div class="row">
              <div class="col s10 m6 l6">
                
                <ol class="breadcrumbs mb-0">
                  <li class="breadcrumb-item"><a>Mouvements d'articles</a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Stock
                  </li>
                  <li class="breadcrumb-item"><a href="#">Mouvements</a>
                  </li>
                </ol>
              </div>
              <div class="col s2 m6 l6"><a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right" href="#!" data-target="dropdown1"><i class="material-icons hide-on-med-and-up">settings</i><span class="hide-on-small-onl">Settings</span><i class="material-icons right">arrow_drop_down</i></a>
                <ul class="dropdown-content" id="dropdown1" tabindex="0">
                  <li tabindex="0"><a class="grey-text text-darken-2" href="user-profile-page.html">Profile<span class="new badge red">2</span></a></li>
                  <li tabindex="0"><a class="grey-text text-darken-2" href="app-contacts.html">Contacts</a></li>
                  <li tabindex="0"><a class="grey-text text-darken-2" href="page-faq.html">FAQ</a></li>
                  <li class="divider" tabindex="-1"></li>
                  <li tabindex="0"><a class="grey-text text-darken-2" href="user-login.html">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="container">
            <div class="section section-data-tables">
 
  
            

  <!-- Page Length Options -->
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h4 class="card-title">Synthèse Des Mouvements D'articles
          </h4>
          <div class="row">
            <div class="col s12">
              <table id="page-length-option" class="display">
                <thead>
                  <tr>
                    <th>Article</th>
                    <th>Date</th>
                    <th>Quantité</th>
                    <th>Operation</th>
                   
                    
                  </tr>
                </thead>
                <tbody style="height:0px">
                  <tr *ngFor="let mvt of Mvt">
                    <td>{{mvt.article}}</td>
                    <td>{{mvt.date}}</td>
                    <td>{{mvt.qte}}</td>
                    <td>
                        <a class="btn btn-floating btn-large cyan pulse" routerLink="/modifiermouvement/{{mvt.id}}"><i class="material-icons">edit</i></a>
    
                        <a class="btn btn-floating btn-large pulse"><i class="material-icons">delete</i></a>
                      </td>
                   
                    </tr>
                   
                </tbody>
                <tfoot>
                  <tr>
                    <th>Article</th>
                    <th>Date</th>
                    <th>Quantité</th>
                    <th>Operation</th>
                   
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div id="placeholder" class="card card card-default scrollspy">
      <div class="card-content">
        <h4 class="card-title">Nouveau Mouvement Manuel
        </h4>
        <form (ngSubmit)="insertmouvement()">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="John Doe"  type="date" name="date" id="date" [(ngModel)]="mvts.date" >
              <label for="date">Date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select name="article" [(ngModel)]="mvts.article">
                <option value="" disabled selected  style="color:#c3c3c3 !important">Article (*)</option>
                <option>test</option>
                
              </select>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="10"  name="qte" id="Quantité" type="text" [(ngModel)]="mvts.qte">
              <label for="Quantité">Quantité(*)</label>
            </div>
          </div>
          <div class="row">
            <select name="type" [(ngModel)]="mvts.type">
              <option value="" disabled selected name="type" style="color:#c3c3c3 !important" >Type de Mouvement(*)</option>
              <option>Reception</option>
              <option>Envoi</option>
              <option>annulation de reception</option>
              <option>anuulation d'envoi</option>



              
            </select>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right" type="submit">ajouter mouvement
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
         
        </form>
      </div>
    </div>
  </div>


</div><!-- START RIGHT SIDEBAR NAV -->
<aside id="right-sidebar-nav">
  <div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation">
    <div class="row">
      <div class="slide-out-right-title">
        <div class="col s12 border-bottom-1 pb-0 pt-1">
          <div class="row">
            <div class="col s2 pr-0 center">
              <i class="material-icons vertical-text-middle"><a href="#" class="sidenav-close">clear</a></i>
            </div>
            <div class="col s10 pl-0">
              <ul class="tabs">
                <li class="tab col s4 p-0">
                  <a href="#messages" class="active">
                    <span>Messages</span>
                  </a>
                </li>
                <li class="tab col s4 p-0">
                  <a href="#settings">
                    <span>Settings</span>
                  </a>
                </li>
                <li class="tab col s4 p-0">
                  <a href="#activity">
                    <span>Activity</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Slide Out Chat -->
 
<!-- END RIGHT SIDEBAR NAV --><div style="bottom: 50px; right: 19px;" class="fixed-action-btn direction-top"><a class="btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow"><i class="material-icons">add</i></a>
    <ul>
        <li><a href="css-helpers.html" class="btn-floating blue"><i class="material-icons">help_outline</i></a></li>
        <li><a href="cards-extended.html" class="btn-floating green"><i class="material-icons">widgets</i></a></li>
        <li><a href="app-calendar.html" class="btn-floating amber"><i class="material-icons">today</i></a></li>
        <li><a href="app-email.html" class="btn-floating red"><i class="material-icons">mail_outline</i></a></li>
    </ul>
</div>
          
          <div class="content-overlay"></div>
        
      
