<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="col s12">
      <div class="container">
        <!-- invoice list -->
<section class="invoice-list-wrapper section">
<!-- create invoice button-->
<!-- Options and filter dropdown button-->

<!-- create invoice button-->
<div class="invoice-create-btn" style="padding: 1%" >
<a href="bondelivraison.html" class="btn waves-effect waves-light invoice-create border-round z-depth-4">
  <i class="material-icons">add</i>
  <span class="hide-on-small-only">Nouveau bon de commande</span>
</a>
</div>

<div class="responsive-table">
<table class="table invoice-data-table white border-radius-4 pt-1">
  <thead>
    <tr>
      <!-- data table responsive icons -->
      <th></th>
      <!-- data table checkbox -->
      <th></th>
      <th>
        <span>Num</span>
      </th>
      <th>TOTAL TTC</th>
      <th>Date</th>
      <th>FOURNISSEUR</th>
      <th>STATU</th>
      <th>ACTION</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let bdc of bdc">
      <td></td>
      <td></td>
      <td>{{bdc.num}}</td>
      <td><span class="invoice-amount">$459.30</span></td>
      <td>{{bdc.date}}</td>
      <td>{{bdc.fournisseur}}</td>
      
      <td>
        <span class="chip lighten-5 red red-text">UNPAID</span>
      </td>
      
      <td>
        <div class="invoice-action">
          <a routerLink="/afficherbdc/{{bdc.id}}" class="invoice-action-view mr-4">
            <i class="material-icons">remove_red_eye</i>
          </a>
          <a routerLink="/modifierbdc/{{bdc.id}}" class="invoice-action-edit">
            <i class="material-icons">edit</i>
          </a>
        </div>
      </td>
      <td></td>
    </tr>
    
    
  </tbody>
</table>
</div>
</section><!-- START RIGHT SIDEBAR NAV -->
<aside id="right-sidebar-nav">
<div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation">
<div class="row">
  <div class="slide-out-right-title">
    <div class="col s12 border-bottom-1 pb-0 pt-1">
      <div class="row">
        <div class="col s2 pr-0 center">
          <i class="material-icons vertical-text-middle"><a href="#" class="sidenav-close">clear</a></i>
        </div>
        <div class="col s10 pl-0">
          <ul class="tabs">
            <li class="tab col s4 p-0">
              <a href="#messages" class="active">
                <span>Messages</span>
              </a>
            </li>
            <li class="tab col s4 p-0">
              <a href="#settings">
                <span>Settings</span>
              </a>
            </li>
            <li class="tab col s4 p-0">
              <a href="#activity">
                <span>Activity</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 
</div>
</div>

<!-- Slide Out Chat -->

<!-- END RIGHT SIDEBAR NAV -->
    
      <div class="content-overlay"></div>
    



