<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
    <div class="brand-sidebar">
     <img src="assets/images/logo.png" style="    width: 127px;
     margin-left: 44px;">
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
     
      
      <li class="navigation-header"><a class="navigation-header-text">CONTACTS</a><i class="navigation-header-icon material-icons">more_horiz</i>
      </li>
      <li class="bold"><a class="waves-effect waves-cyan"   routerLink="/ajouterclient"><i class="material-icons">person_add</i><span class="menu-title" data-i18n="Mail">Ajouter Client</span></a>
        </li>
        <li class="bold"><a class="waves-effect waves-cyan " routerLink="/listeclients"><i class="material-icons">people</i><span class="menu-title" data-i18n="Chat">Liste Clients</span></a>
        </li>
      
      <li class="bold"><a class="waves-effect waves-cyan " routerLink="/ajouterfournisseur"><i class="material-icons">person_add</i><span class="menu-title" data-i18n="Mail">Ajouter Fournisseur</span></a>
      </li>
    
    <li class="bold"><a class="waves-effect waves-cyan " routerLink="/listefournisseurs"><i class="material-icons">people</i><span class="menu-title" data-i18n="Chat">Liste Fournisseurs</span></a>
    </li>
     
   

         
     
      <li class="navigation-header"><a class="navigation-header-text">STOCK </a><i class="navigation-header-icon material-icons">more_horiz</i>
      </li>
      <li class="bold"><a class="waves-effect waves-cyan " routerLink="/ajouterarticle"><i class="material-icons">store</i><span class="menu-title" data-i18n="User Profile">Ajouter Article</span></a>
      </li>
      <li class="bold"><a class="waves-effect waves-cyan " routerLink="/listearticles"><i class="material-icons"> format_list_bulleted</i><span class="menu-title" data-i18n="User Profile">Liste Article</span></a>
      </li>
      <li class="bold"><a class="waves-effect waves-cyan " routerLink="/mouvements"><i class="material-icons">swap_horiz</i><span class="menu-title" data-i18n="User Profile">Mouvements</span></a>
      </li>
      
      
      
      <li class="navigation-header"><a class="navigation-header-text">VENTES </a><i class="navigation-header-icon material-icons">more_horiz</i>
      </li>
     
      <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Chart">BONS</span></a>
        <div class="collapsible-body">
          <ul class="collapsible collapsible-sub" data-collapsible="accordion">
            <li><a routerLink="/ajouterbdl"><i class="material-icons">radio_button_unchecked</i><span data-i18n="ChartJS">Bon de Livraison</span></a>
            </li>
            <li><a routerLink="/listebdl"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Chartist">Liste Bon de Livraison</span></a>
            </li>
            <li><a routerLink="/ajouterbds"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Sparkline Charts">Bon de Sortie</span></a>
            </li>
            <li><a routerLink="/listebds"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Sparkline Charts"> Liste Bon de Sortie</span></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Chart">Devis</span></a>
        <div class="collapsible-body">
          <ul class="collapsible collapsible-sub" data-collapsible="accordion">
            <li><a  routerLink="/ajouterdevis"><i class="material-icons">radio_button_unchecked</i><span data-i18n="ChartJS">Devis</span></a>
            </li>
            <li><a routerLink="/listedevis"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Chartist">Liste Devis</span></a>
            </li>
            
          </ul>
        </div>
      </li>

      <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Chart">Facture</span></a>
        <div class="collapsible-body">
          <ul class="collapsible collapsible-sub" data-collapsible="accordion">
            <li><a  routerLink="/ajouterfacture"><i class="material-icons">radio_button_unchecked</i><span data-i18n="ChartJS">Ajouter Facture</span></a>
            </li>
            <li><a routerLink="/listefactures"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Chartist">Liste Facture</span></a>
            </li>
            
          </ul>
        </div>
      </li>
      <li class="navigation-header"><a class="navigation-header-text">ACHAT </a><i class="navigation-header-icon material-icons">more_horiz</i>
      </li>
     
      <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Chart">BONS</span></a>
        <div class="collapsible-body">
          <ul class="collapsible collapsible-sub" data-collapsible="accordion">
            <li><a routerLink="/ajouterbdr"><i class="material-icons">radio_button_unchecked</i><span data-i18n="ChartJS">Bon de Reception</span></a>
            </li>
            <li><a routerLink="/listebdr"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Chartist">Liste Bon de Reception</span></a>
            </li>
            <li><a routerLink="/ajouterbdc"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Sparkline Charts">Bon de Commande</span></a>
            </li>
            <li><a routerLink="/listebdc"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Sparkline Charts"> Liste Bon de Commande</span></a>
            </li>
          </ul>
        </div>
      </li>
      

      <li class="bold"><a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Chart">Facture Fournisseur</span></a>
        <div class="collapsible-body">
          <ul class="collapsible collapsible-sub" data-collapsible="accordion">
            <li><a  routerLink="/ajouterfacturefournisseur"><i class="material-icons">radio_button_unchecked</i><span data-i18n="ChartJS">Ajouter FactureFournisseur</span></a>
            </li>
            <li><a routerLink="/listefacturesfournisseur"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Chartist">Liste Facture Fournisseur</span></a>
            </li>
            
          </ul>
        </div>
      </li>
      
  


      
      

      
      
     
