<div id="main">
    <div class="row">
      <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
      <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
          
        </div>
      </div>
      <div class="col s12">
        <div class="container">
          <div class="section section-data-tables">


<img src="assets/images/facture.jpg" style="    margin-left: 76px;
">


</div><!-- START RIGHT SIDEBAR NAV -->
<aside id="right-sidebar-nav">
<div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation">
  <div class="row">
    <div class="slide-out-right-title">
      <div class="col s12 border-bottom-1 pb-0 pt-1">
        <div class="row">
          <div class="col s2 pr-0 center">
            <i class="material-icons vertical-text-middle"><a href="#" class="sidenav-close">clear</a></i>
          </div>
          <div class="col s10 pl-0">
            <ul class="tabs">
              <li class="tab col s4 p-0">
                <a href="#messages" class="active">
                  <span>Messages</span>
                </a>
              </li>
              <li class="tab col s4 p-0">
                <a href="#settings">
                  <span>Settings</span>
                </a>
              </li>
              <li class="tab col s4 p-0">
                <a href="#activity">
                  <span>Activity</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- Slide Out Chat -->

<!-- END RIGHT SIDEBAR NAV --><div style="bottom: 50px; right: 19px;" class="fixed-action-btn direction-top"><a class="btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow"><i class="material-icons">add</i></a>
  <ul>
      <li><a href="css-helpers.html" class="btn-floating blue"><i class="material-icons">help_outline</i></a></li>
      <li><a href="cards-extended.html" class="btn-floating green"><i class="material-icons">widgets</i></a></li>
      <li><a href="app-calendar.html" class="btn-floating amber"><i class="material-icons">today</i></a></li>
      <li><a href="app-email.html" class="btn-floating red"><i class="material-icons">mail_outline</i></a></li>
  </ul>
</div>
        
        <div class="content-overlay"></div>
      
    
