

<div id="main">
    <div class="row">
      <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
      <div class="col s12">
        <form (ngSubmit)="updatebdc()">
        <div class="container">
          <!-- app invoice View Page -->
<section class="invoice-edit-wrapper section">
<div class="row">
  <!-- invoice view page -->
  
  <div class="col xl9 m8 s12">
    
    <div class="card">
      
      <img src="assets/images/logo.png" style="    width: 167px;
      margin-bottom: -119px;
      margin-left: 63px;">
      <div class="card-content px-36">
        <!-- header section -->
        <div class="row mb-3">
          <div class="col xl4 m12 display-flex align-items-center">
            
          </div>
         
          <div class="col xl8 m12" style="    margin-left: 72%;
          ">
            <div >
              <div class="display-flex align-items-center">
                <small>Date  </small>
                <div class="display-flex ml-4">
                  <input type="date"  name="date" placeholder="Select Date" [(ngModel)]="bdc.date">
                </div>
              </div>
              
            </div>
          </div>
          <div class="col xl8 m12" style="    margin-left: 72%;
          ">
            <div >
              <div class="display-flex align-items-center">
                <small>Categorie  </small>
                <div class="display-flex ml-4">
                  <input type="text"  name="categorie" required [(ngModel)]="bdc.categorie">
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- logo and title -->
        <div class="row mb-3">
          <div class="col m6 s12 invoice-logo display-flex pt-1 push-m6">
           
          </div>
          <div class="col m6 s12 pull-m6">
            <h4 class="indigo-text">Bon De Commande N°</h4>
            <div class="col xl4 m12 display-flex align-items-center">
              
              <input type="text"  name="num" [(ngModel)]="bdc.num">
              </div>
          </div>
        </div>
        <!-- invoice address and contact -->
        <div class="row mb-3">
          <div class="col l6 s12">
            <h6>Fournisseur</h6>
            <div class="input-field">
              <div class="select-wrapper">
                  


  
 <!-- <option  value="{{four.prenom}}" *ngFor="let four of fournisseur">{{four.prenom}}</option>-->
 <input name="fournisseur" [(ngModel)]="bdc.fournisseur">

  



                
            </div>
            </div>
           
            <div class="input-field">
              <input type="text" name="numref" placeholder="Numéro De Réference" [(ngModel)]="bdc.numref">
            </div>
          </div>
        </div>
        <!-- product details table-->
        <div class="invoice-product-details mb-3">
          
          <form class="form invoice-item-repeater">
            <div data-repeater-list="group-a">
              <div class="mb-2" data-repeater-item="">
                <!-- invoice Titles -->
                <div class="row mb-1">
                  <div class="col s3 m4">
                    <h6 class="m-0">Article</h6>
                  </div>
                  <div class="col s3">
                    <h6 class="m-0">Qté</h6>
                  </div>
                  <div class="col s3">
                    <h6 class="m-0">P.U</h6>
                  </div>
                  
                  <div class="col s3 m2">
                    <h6 class="m-0">Prix</h6>
                  </div>
                </div>
                <div class="invoice-item display-flex mb-1">
                  <div class="invoice-item-filed row pt-1">
                    <div class="col s12 m4 input-field">
                      <input type="text" name="titre" class="invoice-item-desc" placeholder="Titre" [(ngModel)]="bdc.titre">
                    </div>
                    <div class="col m3 s12 input-field">
                      <input type="number" name="qte" placeholder="0" [(ngModel)]="bdc.qte">
                    </div>
                    <div class="col m3 s12 input-field">
                      <input type="number" name="prixunitaire" placeholder="0" [(ngModel)]="bdc.prixunitaire" >
                    </div>
                    <div class="col m2 s12 input-field" >
                      <input type="text" placeholder="{{bdc.prixunitaire * bdc.qte}}"  disabled>
                    </div>
                    <div class="col m4 s12 input-field">
                      <input type="text" class="invoice-item-desc" placeholder="Description" name="description" [(ngModel)]="bdc.description">
                    </div>
                    <div class="col m8 s12 input-field">
                      <span>Taxe: </span>
                      <input name="taxe" disabled [(ngModel)]="bdc.taxe">
                        
                      
                    </div>
                  </div>
                  <div class="invoice-icon display-flex flex-column justify-content-between">
                    <span data-repeater-delete="" class="delete-row-btn">
                      <i class="material-icons">clear</i>
                    </span>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="input-field">
              <button class="btn invoice-repeat-btn" data-repeater-create type="button">
                <i class="material-icons left">add</i>
                <span>Ajouter Article</span>
              </button>
            
            </div>
          </form>
        </div>
        <!-- invoice subtotal -->
        <div class="invoice-subtotal">
          <div class="row">
            <div class="col m5 s12">
              <div class="input-field">
                <input type="text" name="conditiongeneral" placeholder="Conditions Générales" [(ngModel)]="bdc.conditiongeneral">
              </div>
             
            </div>
            <div class="col xl4 m7 s12 offset-xl3">
              <ul>
                <li class="display-flex justify-content-between">
                  <span class="invoice-subtotal-title">Total</span>
                  <h6 class="invoice-subtotal-value">$00.00</h6>
                </li>
                <li class="display-flex justify-content-between">
                  <span class="invoice-subtotal-title">Remise</span>
                  <div class="col xl4 m12 display-flex align-items-center">
              
                    <input type="text" name="remise" [(ngModel)]="bdc.remise">
                </div></li>
                <li class="display-flex justify-content-between">
                  <span class="invoice-subtotal-title">Total TTC</span>
                  <h6 class="invoice-subtotal-value">00%</h6>
                </li>
                <li>
                  <div class="divider mt-2 mb-2"></div>
                </li>
              
               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- invoice action  -->
  <div class="col xl3 m4 s12">
    <div class="card invoice-action-wrapper mb-10">
      <div class="card-content">
        <div class="invoice-action-btn">
          <button type="submit"   style="width: 204px"class="btn indigo waves-effect waves-light display-flex align-items-center justify-content-center">
            <i class="material-icons mr-4">check</i>
            <span class="responsive-text">Save</span>
          </button>
        </div>
        <div class="invoice-action-btn">
          <a class="btn btn-light-indigo btn-block waves-effect waves-light">
            <span class="responsive-text">Brouillon</span>
          </a>
        </div>
        
      
      
        
      </div>
    </div>
  
  </div>

</div>

</section><!-- START RIGHT SIDEBAR NAV -->

<aside id="right-sidebar-nav">
<div id="slide-out-right" class="slide-out-right-sidenav sidenav rightside-navigation right-aligned">
  <div class="row">
    <div class="slide-out-right-title">
      <div class="col s12 border-bottom-1 pb-0 pt-1">
        <div class="row">
          <div class="col s2 pr-0 center">
            <i class="material-icons vertical-text-middle"><a href="#" class="sidenav-close">clear</a></i>
          </div>
          <div class="col s10 pl-0">
            <ul class="tabs">
              <li class="tab col s4 p-0">
                <a href="#messages" class="active">
                  <span>Messages</span>
                </a>
              </li>
              <li class="tab col s4 p-0">
                <a href="#settings">
                  <span>Settings</span>
                </a>
              </li>
              <li class="tab col s4 p-0">
                <a href="#activity">
                  <span>Activity</span>
                </a>
              </li>
            <li class="indicator" style="left: 0px; right: 188px;"></li></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-out-right-body row pl-3 ps ps--active-y">
      <div id="messages" class="col s12 pb-0 active">
        <div class="collection border-none mb-0">
          <input class="header-search-input mt-4 mb-2" type="text" name="Search" placeholder="Search Messages">
          <ul class="collection right-sidebar-chat p-0 mb-0">
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-online avatar-50"><img src="../../../app-assets/images/avatar/avatar-7.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Elizabeth Elliott</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Thank you</p>
              </div>
              <span class="secondary-content medium-small">5.00 AM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-online avatar-50"><img src="../../../app-assets/images/avatar/avatar-1.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Mary Adams</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Hello Boo</p>
              </div>
              <span class="secondary-content medium-small">4.14 AM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-off avatar-50"><img src="../../../app-assets/images/avatar/avatar-2.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Caleb Richards</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Hello Boo</p>
              </div>
              <span class="secondary-content medium-small">4.14 AM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-online avatar-50"><img src="../../../app-assets/images/avatar/avatar-3.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Caleb Richards</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Keny !</p>
              </div>
              <span class="secondary-content medium-small">9.00 PM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-online avatar-50"><img src="../../../app-assets/images/avatar/avatar-4.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">June Lane</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Ohh God</p>
              </div>
              <span class="secondary-content medium-small">4.14 AM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-off avatar-50"><img src="../../../app-assets/images/avatar/avatar-5.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Edward Fletcher</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Love you</p>
              </div>
              <span class="secondary-content medium-small">5.15 PM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-online avatar-50"><img src="../../../app-assets/images/avatar/avatar-6.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Crystal Bates</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Can we</p>
              </div>
              <span class="secondary-content medium-small">8.00 AM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-off avatar-50"><img src="../../../app-assets/images/avatar/avatar-7.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Nathan Watts</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Great!</p>
              </div>
              <span class="secondary-content medium-small">9.53 PM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-off avatar-50"><img src="../../../app-assets/images/avatar/avatar-8.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Willard Wood</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Do it</p>
              </div>
              <span class="secondary-content medium-small">4.20 AM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-online avatar-50"><img src="../../../app-assets/images/avatar/avatar-1.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Ronnie Ellis</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Got that</p>
              </div>
              <span class="secondary-content medium-small">5.20 AM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-online avatar-50"><img src="../../../app-assets/images/avatar/avatar-9.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Daniel Russell</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Thank you</p>
              </div>
              <span class="secondary-content medium-small">12.00 AM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-off avatar-50"><img src="../../../app-assets/images/avatar/avatar-10.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Sarah Graves</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Okay you</p>
              </div>
              <span class="secondary-content medium-small">11.14 PM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-off avatar-50"><img src="../../../app-assets/images/avatar/avatar-11.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Andrew Hoffman</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Can do</p>
              </div>
              <span class="secondary-content medium-small">7.30 PM</span>
            </li>
            <li class="collection-item right-sidebar-chat-item sidenav-trigger display-flex avatar pl-5 pb-0" data-target="slide-out-chat">
              <span class="avatar-status avatar-online avatar-50"><img src="../../../app-assets/images/avatar/avatar-12.png" alt="avatar">
                <i></i>
              </span>
              <div class="user-content">
                <h6 class="line-height-0">Camila Lynch</h6>
                <p class="medium-small blue-grey-text text-lighten-3 pt-3">Leave it</p>
              </div>
              <span class="secondary-content medium-small">2.00 PM</span>
            </li>
          </ul>
        </div>
      </div>
      <div id="settings" class="col s12" style="display: none;">
        <p class="setting-header mt-8 mb-3 ml-5 font-weight-900">GENERAL SETTINGS</p>
        <ul class="collection border-none">
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Notifications</span>
              <div class="switch right">
                <label>
                  <input checked="" type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Show recent activity</span>
              <div class="switch right">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Show recent activity</span>
              <div class="switch right">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Show Task statistics</span>
              <div class="switch right">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Show your emails</span>
              <div class="switch right">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Email Notifications</span>
              <div class="switch right">
                <label>
                  <input checked="" type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
        </ul>
        <p class="setting-header mt-7 mb-3 ml-5 font-weight-900">SYSTEM SETTINGS</p>
        <ul class="collection border-none">
          <li class="collection-item border-none">
            <div class="m-0">
              <span>System Logs</span>
              <div class="switch right">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Error Reporting</span>
              <div class="switch right">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Applications Logs</span>
              <div class="switch right">
                <label>
                  <input checked="" type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Backup Servers</span>
              <div class="switch right">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="collection-item border-none">
            <div class="m-0">
              <span>Audit Logs</span>
              <div class="switch right">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="activity" class="col s12" style="display: none;">
        <div class="activity">
          <p class="mt-5 mb-0 ml-5 font-weight-900">SYSTEM LOGS</p>
          <ul class="widget-timeline mb-0">
            <li class="timeline-items timeline-icon-green active">
              <div class="timeline-time">Today</div>
              <h6 class="timeline-title">Homepage mockup design</h6>
              <p class="timeline-text">Melissa liked your activity.</p>
              <div class="timeline-content orange-text">Important</div>
            </li>
            <li class="timeline-items timeline-icon-cyan active">
              <div class="timeline-time">10 min</div>
              <h6 class="timeline-title">Melissa liked your activity Drinks.</h6>
              <p class="timeline-text">Here are some news feed interactions concepts.</p>
              <div class="timeline-content green-text">Resolved</div>
            </li>
            <li class="timeline-items timeline-icon-red active">
              <div class="timeline-time">30 mins</div>
              <h6 class="timeline-title">12 new users registered</h6>
              <p class="timeline-text">Here are some news feed interactions concepts.</p>
              <div class="timeline-content">
                <img src="../../../app-assets/images/icon/pdf.png" alt="document" height="30" width="25" class="mr-1">Registration.doc
              </div>
            </li>
            <li class="timeline-items timeline-icon-indigo active">
              <div class="timeline-time">2 Hrs</div>
              <h6 class="timeline-title">Tina is attending your activity</h6>
              <p class="timeline-text">Here are some news feed interactions concepts.</p>
              <div class="timeline-content">
                <img src="../../../app-assets/images/icon/pdf.png" alt="document" height="30" width="25" class="mr-1">Activity.doc
              </div>
            </li>
            <li class="timeline-items timeline-icon-orange">
              <div class="timeline-time">5 hrs</div>
              <h6 class="timeline-title">Josh is now following you</h6>
              <p class="timeline-text">Here are some news feed interactions concepts.</p>
              <div class="timeline-content red-text">Pending</div>
            </li>
          </ul>
          <p class="mt-5 mb-0 ml-5 font-weight-900">APPLICATIONS LOGS</p>
          <ul class="widget-timeline mb-0">
            <li class="timeline-items timeline-icon-green active">
              <div class="timeline-time">Just now</div>
              <h6 class="timeline-title">New order received urgent</h6>
              <p class="timeline-text">Melissa liked your activity.</p>
              <div class="timeline-content orange-text">Important</div>
            </li>
            <li class="timeline-items timeline-icon-cyan active">
              <div class="timeline-time">05 min</div>
              <h6 class="timeline-title">System shutdown.</h6>
              <p class="timeline-text">Here are some news feed interactions concepts.</p>
              <div class="timeline-content blue-text">Urgent</div>
            </li>
            <li class="timeline-items timeline-icon-red">
              <div class="timeline-time">20 mins</div>
              <h6 class="timeline-title">Database overloaded 89%</h6>
              <p class="timeline-text">Here are some news feed interactions concepts.</p>
              <div class="timeline-content">
                <img src="../../../app-assets/images/icon/pdf.png" alt="document" height="30" width="25" class="mr-1">Database-log.doc
              </div>
            </li>
          </ul>
          <p class="mt-5 mb-0 ml-5 font-weight-900">SERVER LOGS</p>
          <ul class="widget-timeline mb-0">
            <li class="timeline-items timeline-icon-green active">
              <div class="timeline-time">10 min</div>
              <h6 class="timeline-title">System error</h6>
              <p class="timeline-text">Melissa liked your activity.</p>
              <div class="timeline-content red-text">Error</div>
            </li>
            <li class="timeline-items timeline-icon-cyan">
              <div class="timeline-time">1 min</div>
              <h6 class="timeline-title">Production server down.</h6>
              <p class="timeline-text">Here are some news feed interactions concepts.</p>
              <div class="timeline-content blue-text">Urgent</div>
            </li>
          </ul>
        </div>
      </div>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 754px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 450px;"></div></div></div>
  </div>
</div>

<!-- Slide Out Chat -->

</aside>
<!-- END RIGHT SIDEBAR NAV -->
        </div>
      </form>
        <div class="content-overlay"></div>
      </div>
    </div>
  